.main {
  width: 500px;
  text-align: center;
  margin: 0px auto;
  border: 2px solid #d7d7d7;
  border-bottom: 0px;
  margin-top: 20px;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  background-color: #5c8297;
  width: 80%;
  height: 30px;

}
.addItem {
  width: 80%;
  height: 30px;
  padding: 5px;
  font-size: 20px;
}
.addItem button {
height: 45px;
width: 50px;
padding: 5px;

}
ul {
  list-style: none;
  font-size: 20px;
  color: #686868;
  margin-left: -40px;

}
li {
  border-bottom: 1px solid #bfbfbf;
  background-color: #d7d7d7;
  padding: 10px 0px;
  margin-bottom: 5px;
}
span {
  cursor: pointer;
  position: relative;
  float: right;
}
