<div class="main">
  <div class="addItem">
    <input [(ngModel)]= "newItem" placeholder="Add Item" class="addText">
    <button (click)= "pushItem();">Add
    </button>
    <ul>
      <li *ngFor = "let i of items; let ind = index"> {{ i }}
      <span (click)= "removeItem(ind)"> x</span>
      </li>
    </ul>
  </div>
</div>
